html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}
h1 {
    color: yellow;
    font-size: 4rem; /* 4rem = 40px */
}

h2 {
    color: purple;

}

.negrita {
    font-weight: bold;
}

.mis-datos {
    background-color: #9C5E28;
}

.mis-datos h2{
    color: #9C2885;
}

.box {
    height: 10rem;
    width: 10rem;
}

.red {
    background-color: red;
    padding: 2rem 0; /* padding arriba abajo - izquierda derecha */
    /* padding arriba derecha abajo izquierda */
}

.blue {
    background-color: blue;
    margin-top: 2rem;
}

.border {
    border: solid;
    border-style: dotted;
    border-radius: 1rem;
    margin-top: 2rem;
}

.nav-items {
    display: flex
}

.nav-items li {
    margin: 0.2rem;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: black;
    padding: 1.5rem 0rem;
}

.contenedor {
    margin: 0 auto;
    width: 120rem;
}

img {
    max-width: 100%;
}

.mascotas {
    display:flex;
    flex-wrap: wrap;
}

.card {
    height: 40rem;
    width: 25rem;
    flex-basis: calc(25% -2rem);
    margin: 2rem;
}

.card img{
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

